body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 27, 27);

}

.cardino{
    font-size: 17px;
    font-family: long-island;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    diplay: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    max-height: 1500px;
    background-color: rgb(41, 73, 47);

}

.card{
    background-image: url('/src/assets/bTkA1Pk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border: 3px solid black;
    border-radius: 5px;
    diplay: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:380px;
    /* width: 675px; */

}

.grid-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 100px 100px; 
  gap: 10px; 
  margin: 10px;
  font-size: 17px;
  font-family: long-island;
}

.grid-container div {
  background-color: rgb(22, 37, 24);
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 17px;
  font-family: long-island;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartaDinossauros {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}